body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.logo-title {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 32px;
  font-family: "Mukta", sans-serif;
}
